<div class="header mt-3 text-center">

    <a routerLink="/" class="text-center"><img src="assets/images/logo.png"></a>

   

</div>


<div class="container">
    <router-outlet></router-outlet>
</div>

<!-- FOOTER-->
<footer class="text-center mt-5">
        <a routerLink="/aboutus">About Us</a> |
        <a routerLink="/privacypolicy">Privacy Policy</a> |
        <a routerLink="/termsofuse">Terms of Use</a> |
        <a routerLink="/addelement">Add Element</a>

    <p class="py-1 mt-2">
        <a href="#"> <i class="fa fa-facebook fa-2x"></i></a>
        <a href="#"> <i class="fa fa-twitter fa-2x"></i></a>

        <a href="#"> <i class="fa fa-pinterest fa-2x"></i></a>

    </p>
    <p>&copy; Copyright 2021 SectionFinder Inc.<br />
        <strong>Disclaimer:</strong> All the image shown in the websites does not relates to Section Finder these
        are the sole property of their owner, each image source provided in every detail page</p>
</footer>
<!-- FOOTER-->