@import 'src/variables.scss';

.search-section {
    input {
    @include bdr-all(2px, solid, $color:map-get($colors, black));
    @include pad-mix (10px);
    margin-right: 20px;
    }
    #myInput {
        padding:10px 15px;
        margin-top: -6px;
        border: 0;
        border-radius: 0;
        background: #f1f1f1;
      }
}