
 <!-- SEARCH SECTION-->
 <div class="d-flex flex-direction-row mt-4 search-section">
    <input type="text" class="form-control" id="usr">
    <div class="dropdown">
        <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
            Browse by element
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item-text" href="#">Text Link</a>
            <span class="dropdown-item-text">Just Text</span>
        </div>

    </div>
</div>

<!-- SEARCH SECTION-->

<!-- WEBSITE DETAILS & THUMB-->


<div class="row mt-5 height">
    <h1> {{thumbHomeItem.web_caption}}</h1>    
    <div class="col-lg-8 col-md-8 col-lg-offset-1 col-md-offset-1">
       <div class="border border-success p-3">
           <img  src="{{thumbHomeItem.web_urlthumb}}" class="img-fluid">
       </div>
    </div>
    <div class="col-lg-3 col-md-3">
            <a href="{{thumbHomeItem.web_url}}" target="_blank" class="launch-btn mb-4"><span>Launch</span></a>
            <p class="mt-4">Courtesy : <a href="#" class="text-danger">{{thumbHomeItem.web_url | slice:0:30}}</a></p>
            <!-- <p>Element : <div class="border border-dark p-1 rounded"> Menu </div> </p> -->
            <p class="mt-4 p-2">Element : <span class="border border-secondary p-1 rounded"> {{thumbHomeItem.element}} </span></p>


      </div>
    </div>

<!-- WEBSITE DETAILS & THUMB-->
