@import 'variables';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* LAUNCH BUTTON */ 
.launch-btn {
	border-radius: 4px;
	background-color: map-get($colors, red);
	border: none;
	color: map-get($colors, white);
	text-align: center;
	font-size:16px;
	padding:10px 20px;
	width: 200px;
	transition: all 0.5s;
	span {
		cursor: pointer;
		display: inline-block;
		position: relative;
		transition: 0.5s;
		&:after {
			content: '\00bb';
			position: absolute;
			opacity: 0;
			top: 0;
			right: -20px;
			transition: 0.5s;
		}
	}
	&:hover {
		span {
            padding-right: 25px;
            color: map-get($colors, white);
            
			&:after {
				opacity: 1;
				right: 0;
			}
		}
	}
}


// pagination
.pagination  {
	a {
		color: #000000;
		@include pad-mix(10px 20px!important);
		&:hover, &.active {
			color: map-get($colors, white);
			background: map-get($colors, logocolor);
		}
		
	}
}

// DROP DOWN 
.dropbtn {
    color: #000000;
    font-size: 16px;
    border: none;
    @include bdr-all(2px, solid , #000000);
    border-radius: (6px);
    background: #ffffff;
    height: 60px;
    width: 260px;
    text-align: left;
    padding: 10px 20px;
    box-sizing: border-box;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    width: 500px;
    z-index: 1;
    @include bdr-all(2px, solid , #000000);
    right: 0;
    border-radius: (6px);
    @include pad-mix(20px);

    li {
        width: 150px;
        list-style: none;
        font-weight: bold;
       
    }


  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      background-color: #ddd;

    }
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {
      background-color: #ffffff;
  }

