
$colors: (
  red: #ff4136,
  blue: #0074d9,
  yellow: #ffdc00,
  orange: #ff851b,
  white: #ffffff,
  black: #000000,
  logocolor:#EB3656,
);


// mixins

@mixin bdr-all ($width, $style, $color) {
  border-width: $width;
  border-style: $style;
  border-color: $color;
  
}

@mixin pad-mix($padding...) {
  padding: $padding;
 }