<h1 class="text-center">
    {{topHeading}}
</h1>
<h2 class="text-center">Here you can find collection of thousand of trendy sections like headers, footers, testimonials etc. from
    popular websites</h2>
 <!-- SEARCH SECTION-->
 <div class="d-flex flex-direction-row">
    <input type="text" class="form-control" id="usr">
    <div class="dropdown">
        <button type="button" class="btn btn-dark dropdown-toggle" data-toggle="dropdown">
            Browse by element
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Link 1</a>
            <a class="dropdown-item" href="#">Link 2</a>
            <a class="dropdown-item-text" href="#">Text Link</a>
            <span class="dropdown-item-text">Just Text</span>
        </div>

    </div>
</div>

<!-- SEARCH SECTION-->

<!-- THUMBNAIL SECTION MAIN-->

<div class="mt-5 text-center">

    <!-- THUMBNAIL REPEAT-->
    <figure class="figure mr-2" *ngFor="let item of thumbList" (click)="itemBtn(id)">
        <img width="300" height="300" [src]="item.thumb" class="figure-img img-fluid rounded" alt=" ">
        <figcaption class="figure-caption text-dark">{{item.caption}}</figcaption>
    </figure>
    <!-- THUMBNAIL REPEAT-->



    

</div>

<!-- THUMBNAIL SECTION MAIN-->


<!-- PAGINATOR-->
<div class="mt-2">
    <ul class="pagination pagination-sm justify-content-center">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</div>
<!-- PAGINATOR-->