<div class="row mt-5 height">
    <h1>Add Element</h1>    
    <div class="col-lg-8 col-md-8 col-lg-offset-1 col-md-offset-1">
       <div class="border border-success p-3">
           dfjdkfj
       </div>
    </div>
    <div class="col-lg-3 col-md-3">
            <form>

            <div class="form-group">
                    <label for="category">Category</label>
                    <select class="form-control">
                        <option>Header</option>
                        <option>About Us</option>

                    </select>
                  </div>

                  <div class="form-group mt-4">
                        <label for="url">From URL</label>
                        <input type="text" class="form-control" id="url">
                      </div>

                      <div class="form-group mt-4">
                            <label for="website">By (Company or Website Name)</label>
                            <input type="text" class="form-control" id="website">
                          </div>

                          <div class="form-group mt-4">
                              <Button class="btn btn-danger">Add Element</Button>
                              </div>
                          </form>
      </div>
    </div>