@import 'src/variables.scss';

.browse-section {
    min-height: 600px;
    h1 {
        font-size: 40px;
    }
    p {
        font-size: 18px;
    }
.border-browse {
    @include bdr-all (1px, dashed, #5B5B5B);
    
    &:hover {
   @include bdr-all (1px, dashed, #FF5A77);


    }
}
}